@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: url("https://i.imgur.com/63qN1WA.png"), auto;
  }

.create-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffd88e;
}

main {
    padding: 16px;
    margin-bottom: 16px;
}

h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 10px;
}

img {
    text-align: center;
    height: 200px;
    padding: 1px;
    box-shadow: 3px 3px 3px 3px black;
}

img:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

nav {
    background-color: #FFA76B;
    border: 1px solid black;
    padding: 16px;
    font
}

nav a{
    color: black;
    font-style: bold;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FBD1A2;
    padding: 24px;
    font-size: larger;
    border: 1px solid black;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #ff7a7a;
    padding: 2px;;
}

a:hover {
    color: #7DCFB6;
    text-transform: uppercase;
    transition: ;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div {
    padding: 5px;
    text-align: center;
}

ol {
    text-align: center;
    list-style-position: inside;
}

tr:nth-child(even) {
    background-color: lightgray;
}
